{% extends 'base.html' %}

{% block title %} Completed {% endblock title %}

{% block header %} {% include 'header.html' %} {% endblock header %}

{% block content %}
<div class="profile">
    <div class="container">
      <h3 class="title">transaction completed</h3>
      <div class="row justify-content-center gy-5 diva">
        <div class="col-1 col-sm-2 col-md-2 col-lg-3 order-lg-0 d-none d-lg-block advert">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-10 mb-4">
              <div class="card">
                <!-- <img src="/img/coca cola.jpg" alt=""> -->
                <div class="card-body purple">
                  <!-- <p class="card-text"><a href="/product.html">coca cola</a></p>
                  <p class="card-text"><a href="/product.html">cart</a></p>
                  <p class="card-text"><a href="/product.html">profile</a></p>
                  <p class="card-text"><a href="/product.html">profile update</a></p>
                  <p class="card-text"><a href="/product.html">password update</a></p>
                </div> -->
               </div>
            </div>
           </div>
        </div>
        <!--  -->
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 mb-4">
            <div class="card">
              <!-- <img src="/img/coca cola.jpg" alt=""> -->
              <div class="card-body purple">
                <!-- <p class="card-text"><a href="/product.html">coca cola</a></p>
                <p class="card-text"><a href="/product.html">cart</a></p>
                <p class="card-text"><a href="/product.html">profile</a></p>
                <p class="card-text"><a href="/product.html">profile update</a></p>
                <p class="card-text"><a href="/product.html">password update</a></p>
              </div> -->
             </div>
          </div>
         </div>
      </div>
      <!--  -->
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 mb-4">
          <div class="card">
            <!-- <img src="/img/coca cola.jpg" alt=""> -->
            <div class="card-body purple">
              <!-- <p class="card-text"><a href="/product.html">coca cola</a></p>
              <p class="card-text"><a href="/product.html">cart</a></p>
              <p class="card-text"><a href="/product.html">profile</a></p>
              <p class="card-text"><a href="/product.html">profile update</a></p>
              <p class="card-text"><a href="/product.html">password update</a></p>
            </div> -->
           </div>
        </div>
       </div>
    </div>
    <!--  -->
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 mb-4">
        <div class="card">
          <!-- <img src="/img/coca cola.jpg" alt=""> -->
          <div class="card-body purple">
            <!-- <p class="card-text"><a href="/product.html">coca cola</a></p>
            <p class="card-text"><a href="/product.html">cart</a></p>
            <p class="card-text"><a href="/product.html">profile</a></p>
            <p class="card-text"><a href="/product.html">profile update</a></p>
            <p class="card-text"><a href="/product.html">password update</a></p>
          </div> -->
         </div>
      </div>
     </div>
  </div>
        </div>
        <div class="col-8 col-sm-8 col-md-7 col-lg-5 order-0 order-lg-1">
          <div class="card">
            <!-- <a href="#"><img src="/img/model7.jpg"  class="card-img-top"></a> -->
            <div class="card-body">
              <div class="address">
                <h4>Dear {{profile.first_name|title}} your transaction is completed</h4>
                <p> Your order will be delivered within 24hours</p>
                <p>Thank you for your patronage</p>
                <a href="{% url 'product' %}" id="textHelp" class="form-text">continue shopping</p>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="col-8 col-sm-8 col-md-5  col-lg-3 order-1 order-lg-2 advert">
           <div class="row justify-content-center">
            <div class="col-12 col-lg-10 mb-4">
              <div class="card">
                <!-- <img src="/img/coca cola.jpg" alt=""> -->
                <div class="card-body purple">
                  <!-- <p class="card-text"><a href="/product.html">coca cola</a></p>
                  <p class="card-text"><a href="/product.html">cart</a></p>
                  <p class="card-text"><a href="/product.html">profile</a></p>
                  <p class="card-text"><a href="/product.html">profile update</a></p>
                  <p class="card-text"><a href="/product.html">password update</a></p>
                </div> -->
               </div>
            </div>
           </div>
        </div>
        <!--  -->
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 mb-4">
            <div class="card">
              <!-- <img src="/img/coca cola.jpg" alt=""> -->
              <div class="card-body purple">
                <!-- <p class="card-text"><a href="/product.html">coca cola</a></p>
                <p class="card-text"><a href="/product.html">cart</a></p>
                <p class="card-text"><a href="/product.html">profile</a></p>
                <p class="card-text"><a href="/product.html">profile update</a></p>
                <p class="card-text"><a href="/product.html">password update</a></p>
              </div> -->
             </div>
          </div>
         </div>
      </div>
      <!--  -->
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 mb-4">
          <div class="card">
            <!-- <img src="/img/coca cola.jpg" alt=""> -->
            <div class="card-body purple">
              <!-- <p class="card-text"><a href="/product.html">coca cola</a></p>
              <p class="card-text"><a href="/product.html">cart</a></p>
              <p class="card-text"><a href="/product.html">profile</a></p>
              <p class="card-text"><a href="/product.html">profile update</a></p>
              <p class="card-text"><a href="/product.html">password update</a></p>
            </div> -->
           </div>
        </div>
       </div>
    </div>
    <!--  -->
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 mb-4">
        <div class="card">
          <!-- <img src="/img/coca cola.jpg" alt=""> -->
          <div class="card-body purple">
            <!-- <p class="card-text"><a href="/product.html">coca cola</a></p>
            <p class="card-text"><a href="/product.html">cart</a></p>
            <p class="card-text"><a href="/product.html">profile</a></p>
            <p class="card-text"><a href="/product.html">profile update</a></p>
            <p class="card-text"><a href="/product.html">password update</a></p>
          </div> -->
         </div>
      </div>
     </div>
  </div>
      </div>
    </div>
  </div>
  <!-- content4 done  -->
  <!-- content5  -->
    {% include 'brands.html' %}
</div>
{% endblock content %}

{% block footer %} {% include 'footer.html' %}{% endblock footer %}