 {% extends 'base.html' %}
 {% load static %}

 {% block title %}Shopcart{% endblock title %}
 {% block header %}{% include "header.html" %}{% endblock header %}
 {% block hero %}{% include "hero.html" %}{% endblock hero %}
{% block content %}
<div class="content">
  <!-- content4  -->
  <div class="shopcart">
    <div class="container">
      <h3 class="title">shopcart</h3>
      <div class="row justify-content-center gy-5">
        <div class="col-10 col-sm-10 col-md-8">
          <div class="table_box table-responsive">
            <table class="table"> 
              <thead>
                <tr>
                  <th scope="col">delete</th>
                  <th scope="col">product</th>
                  <th scope="col">name</th>
                  <th scope="col">price</th>
                  <th scope="col">quantity</th>
                  <th scope="col">update</th>
                  <th scope="col"> $ amount</th>
                </tr>
              </thead>
              <tbody>
                {% if cartitems %}
                {% for item in cartitems  %}
                <tr>
                  <th scope="row">
                    <form action="{% url 'deleteitem' %}" method="POST">
                    {% csrf_token %}
                      <input type="hidden" name="itemid" value="{{item.id}}">
                      <button type="submit" onclick="return confirm('Are you sure you want to delete?')"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                  </th>
                  <td><img src="{{item.product.p_img.url}}" alt=""></td>
                  <td>{{item.product.p_name|title}}</td>
                  <td>{{item.price}}</td>
                  <td>{{item.quantity}}</td>
                  <td>
                    {% if item.quantity > 0 %}
                    <form action="{% url 'increase' %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" value="{{item.id}}" name="itemid">
                      <input type="hidden" value="1" min="1" max="10" name="quantity">
                      <button type="submit" onclick="return confirm('Are you sure you want to increase the quantity?')"><i class="fa-solid fa-circle-plus"></i></button>
                    </form>
                    <form action="{% url 'decrease' %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" value="{{item.id}}" name="itemid">
                      <button type="submit" onclick="return confirm('Are you sure you want to decrease the quantity?')"><i class="fa-solid fa-circle-minus"></i></button>
                    </form>
                    {% else %}
                    <form action="{% url 'increase' %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" value="{{item.id}}" name="itemid">
                      <input type="hidden" value="1" min="1" max="10" name="quantity">
                      <button type="submit" onclick="return confirm('Are you sure you want to increase the quantity?')"><i class="fa-solid fa-circle-plus"></i></button>
                    </form>
                    {% endif %}
                  </td>
                  <td>{{item.amount}}</td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><form action="{% url 'deleteall' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="deletecart" value="{{deletecart}}" >
                    <button type="submit" onclick="return confirm('are you sure you wan to delete all ?')"><i class="fa-solid fa-trash-can"></i>Empty Cart</button>
                  </form></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>subtotal: {{subtotal}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>vat: {{vat}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>grand total: {{total}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><a href="{% url 'checkout' %}" class="btn btn-danger text-white">Proceed to Checkout</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
  <!-- content4 done  -->
  
  <!-- checkout ends -->
  {% include "brands.html" %}
</div>
{% endblock content %}
{% block footer %}{% include "footer.html" %}{% endblock footer %}