 {% extends 'base.html' %}

 {% block title %}User profile{% endblock title %}
 {% block header %}{% include "header.html" %}{% endblock header %}
{% block content %}
<div class="content">
  <!-- content4  -->
  <div class="profile">
    <div class="container">
      <h3 class="title">profile update</h3>
      <div class="row justify-content-center gy-5">
        <div class="col-1 col-sm-2 col-md-2 col-lg-3 order-lg-0 d-none d-lg-block">
          <div class="card newimg">
            <img src="{{profile.profile_img.url}}" alt="">
          </div>
        </div>
        <div class="col-8 col-sm-8 col-md-7 col-lg-5 order-0 order-lg-1">
          <div class="card">
            <!-- <a href="#"><img src="/img/model7.jpg"  class="card-img-top"></a> -->
            <div class="card-body">
              <div class="address">
                <form action="{% url 'profile_update' %}" method="POST" enctype="multipart/form-data" >
                  {% csrf_token %}
                  <div class="mb-3">
                    {{update.as_p}}
                    <input type="text" value="{{profile.first_name|title}}" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
                  </div>
                 
                  <button type="submit" class="btn">update</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="col-8 col-sm-8 col-md-5  col-lg-3 order-1 order-lg-2 advert">
           <div class="row justify-content-center">
            <div class="col-12 col-lg-10 mb-4">
              <div class="card">
                <!-- <img src="/img/model14.jpg" alt=""> -->
                <div class="card-body purple">
                  <p class="card-text"><a href="#">home</a></p>
                  <p class="card-text"><a href="#">cart</a></p>
                  <p class="card-text"><a href="#">profile</a></p>
                  <p class="card-text"><a href="#">profile update</a></p>
                  <p class="card-text"><a href="{% url 'profile_password' %}">password update</a></p>
                </div>
               </div>
            </div>
           </div>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
  <!-- content4 done  -->
</div>
  {% include "brands.html" %}
{% endblock content %}
{% block footer %}{% include "footer.html" %}{% endblock footer %}